* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: aliceblue;
}

.container {
    max-width: 600px;
    margin: 100px auto;
    padding: 0 20px;
}

/* card */
.card {
    margin: 20px 0;
    padding: 20px 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h2 {
    font-size: 27px;
    margin-bottom: 20px;
}

.card p {
    font-size: 18px;
    font-weight: 500;
    color: lightblue;
    margin-bottom: 30px;
}

/* heading colors */
.card-sporty h2 {
    color: darkseagreen;
}

.card-casual h2 {
    color: darkcyan;
}

.card-formal {
    color: darkblue;
}

.card a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    background-color: darkslateblue;
}

.card a:hover {
    opacity: 0.8;
}

/* link colors */
.card-sporty a {
    background-color: darkseagreen;
}

.card-casual a {
    background-color: darkcyan;
}

.card-formal a {
    background-color: darkblue;
}

/* background images */
.card-sporty {
    background: #fff url("../images/images/sporty.png") no-repeat center right;
    background-size: 200px;
}

.card-casual {
    background: #fff url("../images/images/casual.png") no-repeat center right;
    background-size: 200px;
}

.card-formal {
    background: #fff url("../images/images/formal.png") no-repeat center right;
    background-size: 200px;
}
